*{
    margin:0;
    padding:0;
}
#head
{
    font-size: 70px;
    max-width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: 10px;
    padding-top:50px;
    padding-bottom:50px;
    color: rgb(28, 36, 72);
    background-color: white;
}
.main
{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    line-height: 40px;
    padding:40px;
    max-width:100%;
    margin-left:20%;
    margin-right: 20%;
    margin-top:10px;
    color:rgb(28, 36, 72);
    font-weight:5 px;
    background-color: white;

    

}
#main1
{
    font-size: 25px;
   
}
.free
{
    padding:20px 2% 20px 2%;
    max-width: 100%;
    align-items: center;

}
body
{
    background-color:rgb(183,230,224);
}
#thank
{
  font-size:40px;
  text-align: center;  
}