#head
{
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: 10px;
    padding-left:320px;
    padding-top:50px;
    padding-bottom:50px;
    color: rgb(28, 36, 72);
    background-color: white;
}
.main
{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    line-height: 30px;
    padding:40px;
    margin-left:200px;
    margin-right: 200px;
    margin-top:10px;
    color:rgb(28, 36, 72);
    font-weight:5 px;
    background-color: white;

    

}
#main1
{
    font-size: 25px;
}
.free
{
    padding:20px 100px 20px 150px;
    width:700px;
}
body
{
    background-color:rgb(227,240,239)
}