*{
    margin:0 auto;
    padding:0;
}
*, *:before, *:after
{
    box-sizing: inherit;
}
#head
{
    font-size: 50px;
    max-width: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: 700;
    padding-top:50px;
    padding-bottom:50px;
    color: rgb(28, 36, 72);
    background-color: white;
}
.main
{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    line-height: 35px;
    padding:40px 20px;
    
    margin-left:10%;
    margin-right: 10%;
    margin-top:10px;
    color:rgb(28, 36, 72);
    font-weight:500;
    background-color: white;
    max-width: 100%;

    

}
#main1
{
    font-size: 25px;
   
}
p{
    text-align:justify;
}
div .free
{
    padding:20px 5px;
    width: 100%;


}
body
{
    background-color:rgb(183,230,224);
    max-width: 100%;
}
div p b #thank
{
  font-size:40px;
  text-align: center;  
}
div img{
    padding:20px 10px;
    
}
.free
{
    max-width:100%;
}
@media only screen and (min-width:1000px)
{
    #head
    {
    font-size: 70px;
    max-width: 100%;
    padding-top:50px;
    padding-bottom:50px;
    }
    .main
{
    font-size: 18px;
    line-height: 40px;
    padding:40px 20px;
    
    margin-left:15%;
    margin-right: 15%;
    margin-top:10px;
    color:rgb(28, 36, 72);
    font-weight:500;
    background-color: white;
    max-width: 100%;
}
}
